# API Config
API_HOST=0.0.0.0
API_PORT=8000
API_VERSION=0.1.0

# MongoDB Configuration
MONGODB_DB=vector_db
MONGODB_USER=admin
MONGODB_PASS=password

# Cohere API Config
COHERE_API_KEY=cohere_key_here
COHERE_EMBED_URL=https://api.cohere.ai/v1/embed
COHERE_MODEL=embed-english-v3.0

# For testing
TEST_BASE_URL=http://localhost:8001/v1

# Storage Config (volume directory)
DATA_DIR=./db